/*  
Colors

White: #FFFFFF
Green: #CBE86B
Beige: #F2E9E1
Black: #1C140D
*/

body{
  font-family: 'Ubuntu', sans-serif;
}

.form-input{
  width: 300px;
  background-color: #F2E9E1;
  font-family: 'Ubuntu', sans-serif;
}

.form-line{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.form-text{
  width: 100px;
  text-align: end;
  padding: 5px;;
}

.homepage-button{
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: #F2E9E1;
  color:black;
}

.homepage-button:hover{
  background-color: black;
  color: white;
  cursor: pointer; 
}

.selected{
  color: red;
}

.unselected{
  color: green;
}

#app-title{
  text-decoration: none;
  color: #FFFFFF
}

#homepage-container{
  display: flex;
  justify-content: center;
 }

 #homepage-subcontainer{
  background-color: #CBE86B;
  width: 50%;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
 }

#main-header{
  background-color: #1C140D;
  padding: 5px 20px;
  margin-bottom: 20px;;
}


