/*  
Colors

White: #FFFFFF
Green: #CBE86B
Beige: #F2E9E1
Black: #1C140D
*/

a{
  text-decoration: none;
  color: #1C140D;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

.form-input{
  width: 300px;
  background-color: #F2E9E1;
  font-family: 'Ubuntu', sans-serif;
}

.form-line{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.form-text{
  width: 100px;
  text-align: end;
  padding: 5px;;
}

.homepage-button{
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: #F2E9E1;
  color:black;
}

.homepage-button:hover{
  background-color: black;
  color: white;
  cursor: pointer; 
}

.individual-business-container{
  border: #1C140D solid 2px;
  border-radius: 15px;
  padding: 15px;
  margin:15px;
  width: 300px;
  background-color: #1C140D;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.individual-business-container:hover{
  background-color: #FFFFFF;
  color: #1C140D;
  cursor: pointer; 
}

.individual-business-name{
  font-size: 22px;
  font-weight: bold;
}

.individual-business-rate{
  color: #CBE86B;
}

.individual-business-photo{
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.profile-menu-button{
  background-color: #1C140D;
  border: #1C140D solid 2px;
  color:#FFFFFF;
  text-align: center;
  padding:8px;
  margin: 5px;
  font-size: 18px;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.profile-menu-button:hover{
  background-color: #FFFFFF;
  color: #1C140D;
}

.rate-container{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.selected,.unselected{
  width: 35px;
  height:35px;
  font-size: 22px;
  text-align: center;
  border-radius: 50%;
  font-weight: bolder;
  border: #1C140D 1px solid;
  margin: 10px;
}

.selected:hover,.unselected:hover{
  cursor: pointer;
}

.selected{
  background-color: red;
  color: #1C140D;
}

.unselected{
  background-color: #CBE86B;
  color: white;
}

#all-business-container{
  padding: 15px;
  margin: 15px;
}

#app-title{
  text-decoration: none;
  color: #FFFFFF
}

#business-grid-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#homepage-container{
  display: flex;
  justify-content: center;
 }

 #homepage-subcontainer{
  background-color: #CBE86B;
  width: 50%;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
 }

#main-header{
  background-color: #1C140D;
  padding: 5px 20px;
  margin-bottom: 20px;;
}

#profile-main-container{
  display:flex;
  flex-direction: row;
}

#profile-menu-container{
  background-color: #CBE86B;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

#profile-welcome{
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  border-radius: 10px;
  border: solid #1C140D 2px;
}

#selected-business-container{
  padding: 15px;
  margin: 15px;
  background-color: #CBE86B;
  border-radius: 15px;
}

#selected-business-title{
  font-size: 45px;
  text-align: center;
}